* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(32, 211, 252);
  background: linear-gradient(
    90deg,
    rgba(32, 211, 252, 1) 0%,
    rgba(110, 102, 249, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-search {
  border-top-right-radius: 1rem;
}

.glass__container {
  width: 600px;
  min-width: 200px;
  position: relative;
  z-index: 1;
}

.glass__container > div {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
