.card-notice {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  border-radius: 10px;
  transition: transform 450ms;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.card-notice:hover {
  transform: scale(1.03);
  opacity: 1;
}

.notice-text {
  white-space: pre-wrap;
}
